<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #867aed, #907cc7);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            width: 90%;
            max-width: 1000px;
            margin: auto;
            /* Center the form */
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
            display: block;
            margin-bottom: 8px;
        }

        input,
        textarea,
        select {
            width: 100%;
            padding: 8px;
            margin-top: 6px;
            margin-bottom: 12px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        .h3 {
            text-align: center;
        }

        .form-check-input {
            border: 1px solid black;
        }

        .container {
            background-color: #f5f5fa;
        }
    </style>


    <style>
        .button {
            position: relative;
            padding: 10px 22px;
            border-radius: 6px;
            border: none;
            color: #fff;
            cursor: pointer;
            background-color: #7d2ae8;
            transition: all 0.2s ease;
        }

        .button:active {
            transform: scale(0.96);
        }

        .button:before,
        .button:after {
            position: absolute;
            content: "";
            width: 150%;
            left: 50%;
            height: 100%;
            transform: translateX(-50%);
            z-index: -1000;
            background-repeat: no-repeat;
        }

        .button:hover:before {
            top: -70%;
            background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
                radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
                radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, #7d2ae8 20%, transparent 20%);
            background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
                10% 10%, 18% 18%;
            background-position: 50% 120%;
            animation: greentopBubbles 0.6s ease;
        }

        @keyframes greentopBubbles {
            0% {
                background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
                    40% 90%, 55% 90%, 70% 90%;
            }

            50% {
                background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
                    50% 50%, 65% 20%, 90% 30%;
            }

            100% {
                background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
                    50% 40%, 65% 10%, 90% 20%;
                background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
            }
        }

        .button:hover::after {
            bottom: -70%;
            background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
                radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, #7d2ae8 20%, transparent 20%);
            background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
            background-position: 50% 0%;
            animation: greenbottomBubbles 0.6s ease;
        }

        @keyframes greenbottomBubbles {
            0% {
                background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
                    70% -10%, 70% 0%;
            }

            50% {
                background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
                    105% 0%;
            }

            100% {
                background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
                    110% 10%;
                background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
            }
        }
    </style>


</head>

<body>
    <form action="/add_form" method="post">

        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <div class="h3">Admission Form</div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group fname">
                                <label for="firstname">First Name</label>
                                <input type="text" id="firstname" name="firstname" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group lname">
                                <label for="lastname">Last Name</label>
                                <input type="text" id="lastname" name="lastname">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group fathername">
                                <label for="fathername">Father Name</label>
                                <input type="text" id="fathername" name="fathername">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mothername">
                                <label for="mothername">Mother Name</label>
                                <input type="text" id="mothername" name="mothername">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group dob">
                                <label for="birthday">Date of Birth</label>
                                <input type="date" id="birthday" name="birthday">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group email">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group gender">
                                <label>Gender</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="male" value="male"
                                        required>
                                    <label class="form-check-label" for="male">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="female"
                                        value="female" required>
                                    <label class="form-check-label" for="female">Female</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group phonenumber">
                                <label for="phonenumber" class="required">Phone Number</label>
                                <input type="tel" id="phonenumber" name="phonenumber">
                                <small id="phoneError" class="text-danger"></small>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group religion">
                                <label for="religion">Religion</label>
                                <input type="text" id="religion" name="religion">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group nationality">
                                <label for="nationality">Nationality</label>
                                <input type="text" id="nationality" name="nationality">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group presentaddress">
                                <label for="presentaddress">Present Address</label>
                                <textarea id="presentaddress" name="presentaddress" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group permanentaddress">
                                <label for="permanentaddress">Permanent Address</label>
                                <textarea id="permanentaddress" name="permanentaddress" rows="3"></textarea>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group usn">
                                <label for="usn">USN</label>
                                <input type="text" id="usn" name="usn">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group branch">
                                <label for="branch">Branch</label>
                                <select id="branch" name="branch">
                                    <option value="" selected hidden>Choose Option</option>
                                    <option value="MCA">MCA</option>
                                    <option value="MBA">MBA</option>
                                    <option value="BE">BE</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="fees-details">
                        <div class="h3">Fees Details</div>

                        <div class="form-group">
                            <label for="actual-fees">Actual Fees</label>
                            <input type="text" id="actual-fees" name="actualfees" oninput="updateFeesDueAndState()">
                        </div>

                        <div class="form-group feespaid">
                            <label for="fees-paid">Fees Paid</label>
                            <input type="text" id="fees-paid" name="feespaid" oninput="updateFeesDueAndState()">
                        </div>



                        <div class="form-group">
                            <label for="fees-due">Fees Due</label>
                            <input type="text" id="fees-due" name="feesdue" readonly>
                        </div>

                        <div class="form-group">
                            <label for="feesState">Fees State</label>
                            <select id="feesState" name="feesState" readonly>
                                <option value="pending">Pending</option>
                                <option value="finished">Finished</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="selected-date">Selected Date</label>
                            <input type="date" id="selected-date" name="selecteddate" oninput="updateFeesDueAndState()">
                        </div>

                    </div>
                </div>



            </div>
        </div>
        <button class="button" type="submit">Submit</button>
    </form>


    <script>
        function updateFeesDueAndState() {

            document.getElementById('selected-date').valueAsDate = new Date();
            // Get the values of feespaid and actualfees
            var feesPaid = parseFloat(document.getElementById('fees-paid').value) || 0;
            var actualFees = parseFloat(document.getElementById('actual-fees').value) || 0;

            // Calculate fees due
            var feesDue = actualFees - feesPaid;
            feesDue = Math.max(0, feesDue); // Ensure feesDue is non-negative

            // Update the fees due field
            document.getElementById('fees-due').value = feesDue.toFixed(2);

            // Update the fees state field
            var feesState = feesDue === 0 ? 'finished' : 'pending';
            document.getElementById('feesState').value = feesState;
        }
    </script>
</body>

</html>